doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Color Boxes
    link(rel='stylesheet', href='/style.css')
  body
    h1 Color Boxes
    p Add colors seperated by commas
    input#colors(type='text', placeholder='add colors')
    button#addBox(type='button') Colors 
    .container
      #boxes       
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='/main.js')
